<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="PCD @Aarhus 2019, How to think about code differently. For PCD @ Aarhus 2019, we are aiming to build an open and local community to explore code and coding practice in many different ways beyond science and engineering specialisation and functional applications development.">
  <link rel="icon" href="./assets/images/favicon.png" sizes="128x128" type="image/png">
  <title>Processing Community Day @Aarhus 2019</title>
  <link href="./assets/2019/css/grid.css" rel="stylesheet" />
  <link href="./assets/2019/css/style2019.css" rel="stylesheet" />
</head>

<body>
  <div id="pageWrapper">
    {{ content | safe }}
  </div>

  <!-- scripts here -->
  <script src='./assets/2019/js/App.js' type="text/javascript"></script>
  <script>
    document.addEventListener("DOMContentLoaded", (e) => { 
      let app = new App();
      app.init();
    });
  </script>
</body>

