{% extends "2019_base.njk" %}

{% block postContent %}

  <div class='maxWidth'>
    <div id='galleryWrapper'>
      {% for thumb in collections.PCD2019gallery %}
        <a
          data-mediabox="PCD2019Gallery"
          data-title="Processing Community Day @Aarhus 2019"
          href='{{ thumb.data.imageUrl }}'
          title='{{ thumb.data.title }}'
          alt='{{ thumb.data.title }}'>
          <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' />
        </a>
      {% endfor %}
    </div>

    <!--
    her er resource til video i VA-mediabox:
    https://github.com/jirihybek/wa-mediabox
    -->
    <!-- video header -->
    <!-- 
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Presentation videos</h2>
      </div>
    </div>
    
    <div id='videoGalleryWrapper'>

      {% for thumb in collections.PCD2019videoGallery %}
        <a
          href='{{ thumb.data.youtubeUrl }}'
          data-mediabox="PCD2019videoGallery"
          data-iframe="true"
          data-title="Processing Community Day @Aarhus 2019"
          data-width="853"
          data-height="480"
          data-title='{{ thumb.data.title }}'
          data-alt='{{ thumb.data.title }}'>
          <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' />
        </a>
      {% endfor %}
    </div>
    -->
    
  </div>

{% endblock postContent %}