{% extends "2021_base.njk" %}

{% block postContent %}

  <div class='maxWidth'>

    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        
        <h2>People (tba)</h2>

        <div class="peopleWrapper">
          {% for thumb in collections.aboutAscending2021 | reverse() %}
            <div class="peopleEntry">
              <span class="thumb">

                {% if "#" in thumb.data.url %}
                  <img src='{{ thumb.data.thumbUrl }}' title='{{ thumb.data.name }}'>
                {% else %}
                  <a target="_blank" href='{{ thumb.data.url }}' title='{{ thumb.data.name }}'>
                    <img src='{{ thumb.data.thumbUrl }}'>
                  </a>
                {% endif %}

              </span>
              <span class="name">{{ thumb.data.name }}</span>
              <span class="desc">{{ thumb.data.description }}</span>
              {% if "#" in thumb.data.url %}
              {% else %}
                <span>
                  <a target="_blank" href='{{ thumb.data.url }}'>{{ thumb.data.url }}</a>
                </span>
              {% endif %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>


    <!-- Code&Share text -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Code&Share[&nbsp;&nbsp;]</h2>
        <p>
          Processing Community Day (PCD) is a day to celebrate art, code and diversity held in communities worldwide. Code&Share[&nbsp;&nbsp;] is a community that was born out of PCD @Aarhus 2019.
        </p>
        <p>
          We are a group of software artists, coders, designers and students at Aarhus University interested in exploring code and software development beyond its functional aspects. Alongside Processing Community Day, we hold monthly meetups where we make workshops, coding sessions and share our projects.
        </p>
        <p>
          If this sounds interesting to you or someone you know, find us at <a href='https://www.facebook.com/codeAndShareAarhus' target='_blank'>Facebook</a> and our <a href='https://codeandshare.net' target='_blank'>Website</a>. You are welcome to join us for our next meet up.      
        </p>
      </div>
      <!-- cell right -->
      <div class="Grid-cell">
        <h2>PCD Partners</h2>
        <p>Processing Community Day @Aarhus is supported by:<br>
          <a href='https://www.kunst.dk/english/' target='_blank'>Danish Arts Foundation</a><br/>
          <a href='https://www.aarhus.dk/forening/tilskud-stoette-og-puljer/stoette-til-kunst-og-kultur/kulturudviklingspuljen/' target='_blank'>Aarhus Municipality</a><br/>
          <a target="_blank" href="http://cc.au.dk/en/about-the-school/departments/digital-design-and-information-studies/">Department of Digital Design and Information Studies, Aarhus University</a><br>
          <a href="https://domen.aarhus.dk/" target="_blank">DOMEN Aarhus</a><br>
          <a target="_blank" href="https://notnull.andersvisti.dk">!=null</a><br>        
        </p>
        <!-- partner logoer -->
        <p>
          <img src='/assets/2021_AboutThumbs/AU1.png' class='partnerLogo'/>
          <img src='/assets/2021_AboutThumbs/skf.png' class='partnerLogo'/>
          <img src='/assets/2021_AboutThumbs/aak.png' class='partnerLogo'/>
        </p>
      </div>
    </div>  
   
  </div> <!-- eof maxwidth -->

{% endblock postContent %}