{% extends "2023_base.njk" %}

{% block postContent %}

  <div class='maxWidth'>
    <h2>Why Code?</h2>
    <div class="WhyCodeWrapper">
      {% for coder in collections.whycodeAscending2021 | reverse %}
        <div class="whyCodeEntry">
          <span class="name">{{ coder.data.name }}</span>
          <span class="whyCode">{{ coder.data.reason }}</span>
        </div>
      {% endfor %}
    </div>
  </div> <!-- eof maxwidth -->

{% endblock postContent %}