{% extends "2023_base.njk" %}

{% block postContent %}

  <div class='maxWidth'>

    <!--
    <video controls disablePictureInPicture width="100%" poster="/assets/2021_videos/placeholder2.jpg" controls style='margin-bottom: 2rem'>
      <source src="/assets/2021_videos/PCD_FullHD.webm" type="video/webm">
      <source src="/assets/2021_videos/PCD_FullHD.mp4" type="video/mp4">
      Sorry, your browser doesn't support embedded videos.
    </video>


    <div id='galleryWrapper'>
      {% for thumb in collections.PCD2021gallery | reverse %}
        <a
          data-mediabox="PCD2023gallery"
          data-title="Processing Community Day @Aarhus 2023"
          href='{{ thumb.data.imageUrl }}'
          title='{{ thumb.data.title }}'
          alt='{{ thumb.data.title }}'>
          <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}'/>
        </a>
      {% endfor %}
    </div>
    -->

  </div>

{% endblock postContent %}