{% extends "2023_base.njk" %}

{% block postContent %}

  <div class='maxWidth'>

    <!-- 
    <div class="Grid">
      <div class="Grid-cell">
        
        <h2>People (tba)</h2>

        <div class="peopleWrapper">
          {% for thumb in collections.aboutAscending2021 | reverse() %}
            <div class="peopleEntry">
              <span class="thumb">

                {% if "#" in thumb.data.url %}
                  <img src='{{ thumb.data.thumbUrl }}' title='{{ thumb.data.name }}'>
                {% else %}
                  <a target="_blank" href='{{ thumb.data.url }}' title='{{ thumb.data.name }}'>
                    <img src='{{ thumb.data.thumbUrl }}'>
                  </a>
                {% endif %}

              </span>
              <span class="name">{{ thumb.data.name }}</span>
              <span class="desc">{{ thumb.data.description }}</span>
              {% if "#" in thumb.data.url %}
              {% else %}
                <span>
                  <a target="_blank" href='{{ thumb.data.url }}'>{{ thumb.data.url }}</a>
                </span>
              {% endif %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
    -->    
   
  </div> <!-- eof maxwidth -->

{% endblock postContent %}