{% extends "base.njk" %}

{% block postContent %}

  <div class='maxWidth'>
    {% for thumb in collections.PCD2019gallery %}
      <p>hello {{ thumb.data.title }}</p>
      <img src='{{ thumb.data.imageUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' />
    {% endfor %}
  </div>

{% endblock postContent %}