{% extends "base.njk" %}

{% block postContent %}

  <div class='maxWidth'>
    <div id='galleryWrapper'>
      {% for thumb in collections.PCD2019gallery %}
        <a
          data-mediabox="PCD2019Gallery"
          data-title="Processing Community Day @Aarhus 2019"
          href='{{ thumb.data.imageUrl }}'
          title='{{ thumb.data.title }}'
          alt='{{ thumb.data.title }}'>
          <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' />
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock postContent %}