@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --main-text-color: rgba(0,0,0,0.96);
  --main-bg-color: white; /* #3f51b5; /* #110a14; */
  --main-link-color: fuchsia; /* tomato; /* hotpink; /* tomato; /* #990000; */
  --edge-spacer: 1.5rem;
  --large-font: 2.1em;
}

* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
*, *:after, *:before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--main-link-color);
}
::selection {
  color: white;
  background: var(--main-link-color);
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.95);
  border: none;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SITE SPECIFIC styling ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html {
  overflow-y: auto;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'karrikregular';
  font-size: 17px; /* 18px; */
  line-height: 1.375em; /* 1.35em; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.maxWidth {
  max-width: 1200px;
}


.bigBgImgWrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100dvh;
  z-index: 1;
  background-image:
    linear-gradient(to right, rgba(255,255,255,1.0), rgba(255,255,255,0.96) 20%, rgba(255,255,255,0.0) 80%),
    linear-gradient(0.49375turn, rgba(255,255,255,1.0), rgba(255,255,255,1.0) 10%, rgba(255,255,255,0.0) 10%),
    url('../images/2023_bgtest2.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TYPE STUFF */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.05em; /* 1.15em; */
  margin: 0px 0px 0em 0px;
}
h2 {
  font-size: 2.5em;
  padding: 0px;
  margin-bottom: 0px; /* 0.475em; */
}
h2.names {
  max-width: 32ch;
}
h2.names span {
  display: inline-block;
  word-break: keep-all;
}
h3 {
  font-size: 1.75em; /* 1.375em; */
  line-height: 1.15em;
  padding: 0px;
}
/* vertical spacers */
.bigSpacer {
  display: block;
  width: 100%;
  height: 3rem;
}
.mediumSpacer {
  display: block;
  width: 100%;
  height: 2rem;
}
.smallSpacer {
  display: block;
  width: 100%;
  height: 1rem;
}

p {
  /* max-width: 65ch; */
  font-size: 1em;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0px 0px 1.35em 0px;
}


/* INLINE LINKS */
a {
  text-decoration: none;
  color: var(--main-link-color);
  outline: 0;

}
a:active, a:focus { outline: 0; }
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy; 
  outline: none;
}

a img {
  border: 0px;
}


/* ******************************************************************* */
/* Partner logo wrapper */

.logos {
  display: grid;
  /* grid-template-columns: repeat(6, 110px); */ /* set in media queries */
  grid-gap: 1em;
}
.logos a img {
  max-width: 100%;
  height: auto;
  opacity: 0.875;
}


/* ******************************************************************* */
/* THREE layout */

#threeWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}


#threeFlow {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  /* border: 1px solid red; */
}

/* *************************************************************** */
/* ARCHIVE wrapper ******************************* */


.archiveWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}



/* Program entries ******************************** */

.programEntry {
  width: 100%;
  padding: 0.4em 0px;
  border-bottom: 1px solid rgba(255,255,255,0.075);
}
.programEntry span.timeWrapper {
  display: inline-block;
  padding-right: 1em;
  min-width: 120px;
  opacity: 0.82;
}
.programEntry span.infoWrapper {
  display: inline-block;
}
.programEntry span.title {
  font-style: italic;
  padding: 2px 0px;
}
.programEntry span.lead {
  padding-right: 1em;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* THERE ARE STYLESHEETS ATTACHED TO THIS formatting */

/* grids */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen {

  .pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: hidden;
    position: relative;
  }

  h2.names,
  h2.names span {
    display: inline;
    word-break: break-all;
  }
  .logos {
    grid-template-columns: repeat(2, 1fr);
  }  

  header {
    flex: 0 0 100%;
    display: none;
  }

  #logo {
    position: relative;
  }

  /* round logo */
  #logo a.round {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 80px;
    height: auto;
    float: left;
    z-index: 1000;
    opacity: 0.9;
    transform: rotateZ(-1deg);
  }
  #logo a.round img {
    max-width: 100%;
    height: auto;
  }

  #logo a.text {
    position: absolute;
    top: 1.0rem;
    left: 0.65rem;
    display: block;
    width: auto;
    float: left;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: var(--main-text-color);
    z-index: 1000;
  }
  #logo a.text:hover {
    text-decoration: none;
  }

  #mainWrapper {
    padding: var(--edge-spacer);
  }

  /* main info */
  .mainInfoWrapper {
    max-width: 30ch;
    margin: 0px;
  }
  .mainInfoWrapper h2 {
    width: calc(100vw - (2 * var(--edge-spacer)));
  }
  .mainInfoWrapper h2 span {
    display: inline;
  }  


  /* burger menu */
  #mobileNavWrapper {
    flex: 0 0 100%;
    overflow: hidden;
    height: auto;
    max-height: 420px;
    transition: max-height 0.2s ease;
  }
  #mobileNavWrapper.hide {
    max-height: 0px;
    border-bottom: 1px solid transparent;
  }

  #menuWrapper {
    margin-bottom: 0px;
    min-height: 5em;
  }  
  
  /* burger nav */
  .burgerWrapper {
    flex: 0 0 100%;
  }
  .burgerWrapper:after {
    content: "";
    display: table;
    clear: both;
  }

  /* NAV ICON */
  .burgerWrapper a#burger {
    display: block;
    float: right;
    padding: 0px;
    margin: -1rem -1rem 0px 0px;
    color: var(--main-text-color);
    display: none !important; /* FOR NOW */
  }

  .burgerWrapper a#burger #burgerIcon,
  .burgerWrapper a#burger #crossIcon {
    outline: none;
    border: none;
    display: block;
    float: right;
    cursor: pointer;
    background-color: transparent;
    margin: 0px;
  }
  .burgerWrapper a#burger #burgerIcon {
    padding: 0px; /*  0.45em 0.5em 0px 0.6em; */
  }
  .burgerWrapper a#burger #crossIcon {
    padding: 0px; /* 0.45em 0.5em 0px 0.6em; */
  }

  .burgerWrapper a#burger #burgerIcon.hide,
  .burgerWrapper a#burger #crossIcon.hide {
    display: none;
  }

  /* mobileNav */
  ul.mobileNav {
    list-style: none;
    margin: 0px 0px 1.5rem 0px;
    padding: 0px;
    flex: 0 0 100%;
    height: auto;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    text-align: center;
  }
  ul.mobileNav::after {
    content: "";
    display: table;
    clear: both;
  }
  /* only first levels li */
  ul.mobileNav li ul {
    display: none;
  }
  ul.mobileNav li {
    display: block;
    float: left;
    width: 100%;
    padding-left: 0px;
  }

}


/* ***************************************************** */
/* BREAK MEDIUM */

@media (min-width: 400px) {

  .logos {
    grid-template-columns: repeat(3, 1fr);
  }

}


/* ***************************************************** */
/* BREAK MEDIUM */

@media (min-width: 800px) {
  
  h2.names,
  h2.names span {
    display: inline-block;
    word-break: keep-all;
  }  
  .logos {
    grid-template-columns: repeat(7, 1fr);
  }

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4. */
@media screen and (min-width: 1024px) {

  /* now rows as flex-direction */
  .pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .logos {
    grid-template-columns: repeat(5, 110px);
  }  

  /* no mobile nav */
  .burgerWrapper a#burger #burgerIcon,
  .burgerWrapper a#burger #crossIcon {
    display: none;
  }

  header {
    flex: 0 0 32%;
    display: block;
  }

  #mainWrapper {
    flex: 0 0 68%;
    overflow-x: hidden;
  }

  #logo a.round {
    position: fixed;
    top: -3px;
    left: -3px;
    width: 120px;
    height: auto;
    display: block;
    float: left;
  }

  /* main info */ 
  .mainInfoWrapper {
    position: fixed;
    bottom: var(--edge-spacer);
    left: var(--edge-spacer);
    margin: 0px;
    width: 30vw;
    line-height: 1em; /* 1.15em; /* 1em */
    z-index: 1000;
  }
  .mainInfoWrapper h2 {
    width: auto;
    line-height: 1em;
  }
  .mainInfoWrapper h2 span {
    display: block;
  }
  .mainInfoWrapper .bigSpacer {
    height: 0px;
  }


  /* mobileNav */
  ul.mobileNav {
    margin-bottom: 5rem;
    flex: 0 0 100%;
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: center;
  }
  /* only first levels li */
  ul.mobileNav li ul {
    display: none;
  }
  ul.mobileNav li {
    display: inline-block;
    width: auto;
    float: none;
  }

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4. */
@media screen and (min-width: 1280px) {

  header {
    flex: 0 0 28%;
  }

  #mainWrapper {
    flex: 0 0 72%;
  }

  .logos {
    grid-template-columns: repeat(7, 110px);
  }  

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4. */
@media screen and (min-width: 1600px) {
  
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* KARRIK */
@font-face {
  font-family: 'karrikregular';
  src: url('../fonts/Karrik-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Karrik-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Karrik-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;       
}

@font-face {
  font-family: 'karrikitalic';
  src: url('../fonts/karrik-italic-webfont.woff2') format('woff2'),
       url('../fonts/karrik-italic-webfont.woff') format('woff'),
       url('../fonts/karrik-italic-webfont.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}